/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6E8B8;
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: auto;
}

.icons {
    margin: 0 auto;
    width:fit-content;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.icons a {
    text-decoration: none;
}

/* REUSABLE */
.flex {
    display: flex;
}

.mb-4-text {
    margin-bottom: 4rem;
}

/* SECTION */
section {
    margin: 0 10rem;
    /*margin: 0 10%;*/
}

.section-title {
    margin-bottom: 2rem;
}

.section-content {
    margin-bottom: 2rem;
}

/* HERO SECTION */
#hero {
    padding-top: 15vh;
    height: 85vh;
    /*box-sizing: border-box;*/
    /*min-height: fit-content;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetings {
    font-size: 2.5rem;
    align-self: flex-start;
}

.myName {
    font-size: 8rem;
}

.myTitle {
    font-size: 5.6rem;
    color: #F6E8B8;
    -webkit-text-stroke: 2px black;
    margin-top: 0;
}


.circle {
    background: #EEC76F;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    align-self: flex-start;
}

.rectangle{
    /*width:350px;*/
    min-width:350px;
    height:420px;
    background: #EEC76F;
    border-radius: 27px;
}


.btn {
    font-weight: 600;
    padding: 1rem;
    width: 4.5rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;

    text-decoration: none;
    color: inherit;
}

/* ABOUT SECTION */
.f {
    display: flex;
    gap: 2rem;
}

/* PROJECT SECTION */
.project-card {
    background: #EEC76F;
    border-radius: 27px;
    padding: 2rem;
    margin-bottom: 1rem;
}