/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100vh;*/
    background-color: #F6E8B8;
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: auto;
}

.icons {
    margin: 0 auto;
    width:fit-content;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.icons a {
    text-decoration: none;
}


/* HERO SECTION */
.hero {
    padding-top: 15vh;
    height: 85vh;
    /*width: 70%;*/
    margin: 0 10rem;
    /*box-sizing: border-box;*/
    /*min-height: fit-content;*/
}

.greetings {
    font-size: 2.5rem;
}

.myName {
    font-size: 8rem;
    text-align: center;
}

.myTitle {
    font-size: 5.6rem;
    text-align: center;
    color: #F6E8B8;
    -webkit-text-stroke: 2px black;
    margin-top: 0;
}

.myIntro {
    width: 60%;
    overflow-wrap: break-word;
    margin: 0 auto;
}

.circle {
    background: #EEC76F;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.btn {
    font-weight: 600;
    padding: 1rem;
    width: 4.5rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;

    text-decoration: none;
    color: inherit;
}
