@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* GENERAL */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}


/* REUSABLE */
/*.flex {*/
/*    display: flex;*/
/*}*/

/*.mb-2 {*/
/*    margin-bottom: 2rem;*/
/*}*/

.text-font-size {
    line-height: 2;
}

.subtitle {
    font-size: 1.5rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hidden {
    visibility: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle-yellow {
    background: #FFE6AE;
}

.circle-pink {
    background: #FF9F99;
}

.rectangle{
    /*width:350px;*/
    min-width:350px;
    height:420px;
    background: #FFE6AE;
    border-radius: 27px;

    position: relative;
}

.btn {
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;

    text-decoration: none;
    color: inherit;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;
}


/* SECTION */
section {
    /*margin: 6.5% 8.4%;*/
    margin: 5rem 6.5rem;
}


.section-title {
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

/* HERO */
#hero {
    height: 100vh;
    min-height: 35rem;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lydia {
    font-size: 10rem;
    font-weight: bold;
}

.btn-container {
    display: flex;
    gap: 1.2rem;
    align-items: center;

    margin-top: 6rem;
}

.circle-decorations {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.circle-1 {
    width: 23rem;
    height: 23rem;
    filter: blur(6px);
    top: -20%;
    left: -20%;
}

.circle-2 {
    width: 8rem;
    height: 8rem;
    filter: blur(6px);
    top: 30%;
    left: 20%;
}

.circle-3 {
    width: 28rem;
    height: 28rem;
    top: 50%;
    left: -20%;
}

.circle-4 {
    width: 20rem;
    height: 20rem;
    top: -15%;
    right: -15%;
}

.circle-5 {
    width: 8rem;
    height: 8rem;
    filter: blur(8px);
    top: 60%;
    right: 30%;
}

.circle-6 {
    width: 19rem;
    height: 19rem;
    top: 80%;
    right: -15%;
}


/* ABOUT */
#about {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.about-descriptions { /* left side aka not the image */
    display: flex;
    flex-direction: column;
}

.about-text {
    flex-grow: 1;
    /*font-size: 1.25rem;*/
}

.photo-lydia {
    max-width: 294px;
    max-height: 348px;
    border-radius: 27px;

    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /* !*vendor prefixes omitted due to brevity *!*/
    /*!*right: 0; !*doesn't work*!*!*/

    position: absolute;
    right: 0;

    top: 50%;
    transform: translateY(-50%);
}


/* PROJECT SECTION */
.section-content {
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.project-card-bg {

    /*position: relative;*/
    /*left: -6.5rem;*/
    /* length will be wrong thi */
}

.project-card {
    width: 100%;
    position: relative;
    background-color: #FFF6E9;
    border-radius: 27px;

    padding: 2rem;
    margin: 1.25rem -2rem;

    display: flex;
}

.project-card-descriptions {
    width: 30rem;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.project-card > img {
    position: absolute;
    width: 45%;
    aspect-ratio: 16 / 9;
    border-radius: 27px;
    top: 2rem;
    right: 2rem;
    object-fit: cover;
}


.btn2 {
    /*font-weight: 500;*/
    padding: 0.5rem;
    max-width: 10rem;
    border-radius: 2rem;
    /*border: rgb(53, 53, 53) 0.1rem solid;*/
    background: #FFE6AE;
    text-align: center;

    text-decoration: none;
    color: inherit;
}


/* CONTACTS */
#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.pr-1 {
    padding-right: 4px;
}

.circle-7 {
    width: 19rem;
    height: 19rem;
    top: 30%;
    left: -15%;
}

.circle-8 {
    width: 8rem;
    height: 8rem;
    filter: blur(6px);
    top: -30%;
    left: 30%;
}

.circle-9 {
    width: 8rem;
    height: 8rem;
    filter: blur(6px);
    top: -20%;
    left: 40%;
}

.circle-10 {
    width: 16rem;
    height: 16rem;
    top: 30%;
    left: 90%;
}